* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.screen {
    display: flex;
    height: 100vh;
}

.leftside {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 254, 254);
}

.leftside img {
    max-width: 500px;
    height: auto;
}

.rightside {
    width: 400px;
    background-color: #63a37f;
    padding: 50px;
}

.rightside label {
    display: block;
    color: #FFF;
    margin-bottom: 20px;
}

.rightside input {
    width: 100%;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
    outline: 0;
}