@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.screen {
    display: flex;
    height: 100vh;
}

.leftside {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 254, 254);
    border-right: 1px solid #000;
}

.leftside img {
    max-width: 500px;
    height: auto;
}

.rightside {
    width: 400px;
    background-color: #63a37f;
    padding: 50px;
    border-left: 2px solid #2D9CDB;
}

.rightside h1 {
    color: #FFF;
    text-shadow: 1px 2px #000;
    font-weight: bold;
    text-align: center;
}

.rightside img {
    display: flex;
    width: 150px;
    margin: auto;
}

.input-bar {
    display: flex;
    align-items: center;
}

.input-bar input:focus {
    border-top: 2px solid #2D9CDB;
    border-right: 2px solid #2D9CDB;
    border-bottom: 2px solid #2D9CDB;
}

.rightside label {
    display: block;
    color: #FFF;
    text-shadow: 1px 1px #222;
    font-weight: bold;
    margin-bottom: 20px;
}

.rightside label img {
    margin-left: -10px;
    width: 20px;
    z-index: 99;
}

.rightside input {
    width: 100%;
    border: 1px solid #999;
    box-shadow: 1px 1px #333;
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
    outline: 0;
    margin-left: -5px;
}

.input-button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    cursor: pointer;
}

.input-button img {
    margin-left: -35px !important;
    width: 30px !important;
    transition: transform .7s ease-in-out;
}

.input-button input {
    display: inline-block;
    border-radius: 15px;
    border: 1px solid #333;
    color: #33363A;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    transition: all .3s;
}

.input-button:hover input {
    background-color: #FF9C0D;
    color: #33363A;
    box-shadow: 2px 2px 3px #FFD00B;
    text-shadow: 1px 1px #ddd;
}


.input-button:hover img{
    transform: rotate(-360deg);
}

.input-login p {
    color: #FFF;
    text-shadow: 1px 1px #222;
}

.input-login a {
    color: #1773db;
    text-shadow: 1px 1px #333;
    text-decoration: none;
    font-weight: bold;
}