@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* POKEMON-BG-TYPES */

.normal {
    background: #BABAAE;
}

.fighting {
    background: #A75543;
}

.flying {
    background: #78A2FF;
}

.poison {
    background: #A95CA0;
}

.ground {
    background: #EECC55;
}

.rock {
    background: #CCBD72;
}

.bug {
    background: #C2D21E;
}

.ghost {
    background: #7975D7;
}

.steel {
    background: #C4C2DB;
}

.fire {
    background: #FA5643;
}

.water {
    background: #56ADFF;
}

.grass {
    background: #8CD750;
}

.electric {
    background: #FDE139;
}

.psychic {
    background: #FA65B4;
}

.ice {
    background: #96F1FF;
}

.dragon {
    background: #8673FF;
}

.dark {
    background: #8D6855;
}

.fairy {
    background: #F9AEFF;
}

/* POKEMON-BG-TYPES */

.hide {
    display: none;
}

.show {
    display: flex;
}

/********************************
JS INFORMATION
*********************************/
.display-pokemon {
    text-align: center;
    user-select: none !important;
}

.display-pokemon img{
    user-select: none !important;
}

.poke-image {
    user-select: none !important;
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    width: 80px;
}

.poke-name {
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
}

.poke-stats {
    font-weight: 400;
    color: #999;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
}

.poke-stats span {
    font-weight: bold;
    color: #FFF;
    font-size: 14px;
}

.stats-hp,
.stats-defense {
    margin-bottom: 7px;
}

.poke-attacks {
    font-weight: 400;
    color: #999;
    margin-top: 5px;
    margin-left: 7px;
    margin-right: 0px;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
}

.poke-attacks span {
    font-weight: bold;
    color: #FFF;
    font-size: 9px;
}

.skill-one,
.skill-three {
    margin-bottom: 5px;
}

.poke-id {
    color: #FFF;
    font-size: 20px;
}

.poke-type-one {
    border-radius: 3px;
    display: block;
    width: 90px;
    height: 28px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
}

.poke-type-two {
    border-radius: 3px;
    display: block;
    width: 90px;
    height: 28px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
}
/********************************
JS INFORMATION
*********************************/
/********************************
Animation
*********************************/

@keyframes on-effect {
    0% { 
        background-color: #28AAFD;
        border: 3px solid #DEDEDE;
        box-shadow: none;
    }
    25% { 
        background-color: #28AAFD;
        border: 3px solid #DEDEDE;
        box-shadow: none;
    }
    30% { 
        background-color: #28AAFD;
        border: 3px solid #DEDEDE;
        box-shadow: none;
    }
    35% {
        background-color: #C1E6FE;
        border: 3px solid #28AAFD;
        box-shadow: 3px 3px 40px #E4F4FF;
    }
    37% { 
        background-color: #28AAFD;
        border: 3px solid #DEDEDE;
        box-shadow: none;
    }
    50% {
        background-color: #28AAFD;
        border: 3px solid #DEDEDE;
        box-shadow: none;
    }
    75% {
        background-color: #C1E6FE;
        border: 3px solid #28AAFD;
        box-shadow: 3px 3px 40px #E4F4FF;
    }
    78% {
        background-color: #28AAFD;
        border: 3px solid #DEDEDE;
        box-shadow: none;
    }
    80% {
        background-color: #C1E6FE;
        border: 3px solid #28AAFD;
        box-shadow: 3px 3px 40px #E4F4FF;
    }
    82% {
        background-color: #28AAFD;
        border: 3px solid #DEDEDE;
        box-shadow: none;
    }
    100% {
        background-color: #28AAFD;
        border: 3px solid #DEDEDE;
        box-shadow: none;
    }
}

@keyframes blink-effect {
    0% { 
        background-color: #28AAFD;
        border-bottom: 1px solid #1F82C3;
        box-shadow: none;
    }
    20% {
        background-color: #C1E6FE;
        border-bottom: 1px solid #28AAFD;
        box-shadow: 1px 1px 5px #A1DAFE;
    }
    25% { 
        background-color: #28AAFD;
        border-bottom: 1px solid #1F82C3;
        box-shadow: none;
    }
    50% {
        background-color: #28AAFD;
        border-bottom: 1px solid #1F82C3;
        box-shadow: none;
    }
    60% {
        background-color: #C1E6FE;
        border-bottom: 1px solid #28AAFD;
        box-shadow: 1px 1px 5px #A1DAFE;
    }
    70% {
        background-color: #28AAFD;
        border-bottom: 1px solid #1F82C3;
        box-shadow: none;
    }
    75% {
        background-color: #C1E6FE;
        border-bottom: 1px solid #28AAFD;
        box-shadow: 1px 1px 5px #A1DAFE;
    }
    85% {
        background-color: #28AAFD;
        border-bottom: 1px solid #1F82C3;
        box-shadow: none;
    }
    100% {
        background-color: #28AAFD;
        border-bottom: 1px solid #1F82C3;
        box-shadow: none;
    }
}

@keyframes pulse-yellow-effect {
    0% { 
        box-shadow: none;
    }
    25% {
        box-shadow: none;
    }
    50% {
        background-color: #FFE748;
        box-shadow: 2px 2px 10px #FFE748;
    }
    75% {
        box-shadow: none;
    }
    100% {
        box-shadow: none;
    }
}

/********************************
Animation
*********************************/

.screen {
    background-image: url(../images/pokedexbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    background-position: center;
    height: 100vh;
}

.pokedex-body {
    display: flex;
    margin-top: 50px;
}

.pokedex-leftside {
    width: 300px;
    height: 450px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

/* LEFTSIDE-TOP */

.leftside-top {
    width: 300px;
    height: 80px;
    background-color: #DC0A2D;
    border-radius: 20px 20px 0 0;
    display: flex;
    border-top: 1px solid #2B2B2B;
    border-left: 1px solid #2B2B2B;
    border-right: 1px solid #89061C;
}

.leftside-top-border1 {
    display: flex;
    border-bottom: 7px solid #89061C;
    margin-left: 5px;
    border-radius: 0 0 30px 0;
    width: 170px
}

.leftside-top-border2 {
    display: flex;
    border-bottom: 5px solid #89061C;
    margin-bottom: 25px;
    width: 125px
}

.onbutton {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #28AAFD;
    border-radius: 50%;
    border: 3px solid #DEDEDE;
    animation: on-effect 8s ease forwards infinite;
}

.on-reflection {
    display: absolute;
    width: 12px;
    height: 12px;
    margin-top: 4px;
    margin-left: 10px;
    background-color: #A1DAFE;
    border-radius: 50%;
    box-shadow: 1px 1px 10px #A1DAFE;
}

.redbutton {
    width: 12px;
    height: 12px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 2px;
    background-color: red;
    border: 1px solid #FFF;
    border-radius: 50%;
}

.red-reflection {
    display: absolute;
    width: 3px;
    height: 3px;
    margin-top: 1px;
    margin-left: 1px;
    background-color: #FFF;
    border-radius: 50%;
}

.yellowbutton {
    width: 12px;
    height: 12px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 2px;
    background-color: #FFE748;
    border: 1px solid #FFF;
    border-radius: 50%;
}

.yellow-reflection {
    display: absolute;
    width: 3px;
    height: 3px;
    margin-top: 1px;
    margin-left: 1px;
    background-color: #FFF;
    border-radius: 50%;
}

.greenbutton {
    width: 12px;
    height: 12px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 2px;
    background-color: #4FAE5D;
    border: 1px solid #FFF;
    border-radius: 50%;
}

.green-reflection {
    display: absolute;
    width: 3px;
    height: 3px;
    margin-top: 1px;
    margin-left: 1px;
    background-color: #FFF;
    border-radius: 50%;
}

/* LEFTSIDE-TOP */

/* LEFTSIDE-CENTER */

.leftside-center {
    width: 300px;
    height: 220px;
    background-color: #DC0A2D;
    display: flex;
    border-left: 1px solid #2B2B2B;
    border-right: 1px solid #89061C;
}

.leftside-center-border {
    display: absolute;
    display: flex;
    margin-left: 5px;
    border-left: 3px solid #89061C;
}

.leftside-display {
    display: flex;
    width: 220px;
    height: 210px;
    background-color: #DEDEDE;
    margin: auto;
    margin-left: 35px;
    border-radius: 10px 10px 10px 10px;
    flex-direction: column;
    flex-wrap: nowrap;
    border-bottom: 3px solid #787878;
}

.display-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.red-dots {
    display: flex;
    width: 10px;
    height: 10px;
    margin: 10px 2px 10px 10px;
    background-color: #DC0A2D;
    border-radius: 50%;
    border: 1px solid #89061C;
}

.display-pokes {
    margin-left: auto;
    margin-right: auto;
    width: 170px;
    height: 150px;
    background-color: #28AAFD;
    border: 5px solid #2B2B2B;
}

.display-pokes-head i {
    user-select: none;
    color: #FFF;
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
}

.display-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.display-bigdots {
    display: flex;
    width: 20px;
    height: 20px;
    margin: 10px 0px;
    background-color: #DC0A2D;
    margin-left: 25px;
    border-radius: 50%;
    border: 1px solid #89061C;
}

.display-lines {
    display: flex;
    width: 25px;
    height: 25px;
    margin: 10px 0px;
    margin-right: 25px;
    background-color: transparent;
}

.display-lines i {
    font-size: 28px;
}
/* LEFTSIDE-CENTER */

/* LEFTSIDE-BOTTOM */

.leftside-bottom {
    width: 300px;
    height: 120px;
    background-color: #DC0A2D;
    display: flex;
    border-radius: 0 0 5px 10px;
    border-bottom: 1px solid #2B2B2B;
    border-left: 1px solid #2B2B2B;
    border-right: 1px solid #89061C;
}

.leftside-bottom-border {
    display: flex;
    margin-left: 5px;
    border-left: 3px solid #89061C;
    border-bottom: 3px solid #89061C;
    border-radius: 0 0 5px 10px;
    margin-bottom: 5px;
    width: 300px;
}

.bottom-dot {
    display: flex;
    width: 35px;
    height: 35px;
    margin: 15px;
    margin-right: 15px;
    background-color: #2B2B2B;
    border-radius: 50%;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
}

.black-bars {
    display: flex;
}

.black-bar {
    width: 40px;
    height: 5px;
    margin: 10px 0px;
    margin-right: 30px;
    background-color: #2B2B2B;
    border-bottom: 1px solid #000;
    border-radius: 15%;
}

.black-bar:last-child {
    margin-right: 0px;
    background-color: #28AAFD;
    border-bottom: 1px solid #1F82C3;
    animation: blink-effect 5s ease forwards infinite;
}

.bottom-screen {
    display: flex;
    width: 100px;
    height: 50px;
    margin: 5px;
    border-radius: 8%;
    background-color: #51AE5F;
    border-bottom: 2px solid #3E8048;
    align-items: center;
    justify-content: center;
}

.bottom-screen span {
    color: #FFF;
    text-align: center;
    font-weight: bold;
}

.bottom-controls {
    display: flex;
    margin: auto;
}

.pad-controls {
    width: 70px;
    height: 70px;
    position: relative;
}

.control-top {
    position: absolute;
    top: 1%;
    left: 35%;
    width: 21px;
    height: 25px;
    background-color: #2B2B2B;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
}

.control-bottom {
    position: absolute;
    bottom: 2%;
    left: 35%;
    width: 21px;
    height: 25px;
    background-color: #2B2B2B;
    border-radius: 0 0 5px 5px;
    border-bottom: 2px solid #000;
    cursor: pointer;
}

.control-left {
    position: absolute;
    top: 36%;
    left: 0%;
    width: 25px;
    height: 19px;
    background-color: #2B2B2B;
    border-radius: 5px 0 0 5px;
    border-bottom: 2px solid #000;
    cursor: pointer;
}

.control-bottom:active {
    background: linear-gradient(to top, #111, #222);
    transition: all 0.3s ease;
}
.control-top:active {
    background: linear-gradient(to bottom, #111, #222);
    transition: all 0.3s ease;
}
.control-center:active {
    background-color: #222;
    transition: all 0.3s ease;
}
.control-right:active {
    background: linear-gradient(to left, #111, #222);
    transition: all 0.3s ease;
}
.control-left:active {
    background: linear-gradient(to right, #111, #222);
    transition: all 0.3s ease;
}

.control-bottom:hover i,
.control-top:hover i,
.control-center:hover i,
.control-right:hover i,
.control-left:hover i {
    color: #000;
}

.control-center {
    position: absolute;
    top: 36%;
    left: 35%;
    width: 21px;
    height: 19px;
    background-color: #2B2B2B;
    cursor: pointer;
}

.control-right {
    position: absolute;
    top: 36%;
    right: 0%;
    width: 25px;
    height: 19px;
    background-color: #2B2B2B;
    border-radius: 0 5px 5px 0;
    border-bottom: 2px solid #000;
    cursor: pointer;
}

.control-right i {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-content: center;
    margin-top: 1px;
    margin-right: 4px;
    color: #191919;
}

.control-left i {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    margin-top: 1px;
    margin-left: 4px;
    color: #191919;
}

.control-top i {
    display: flex;
    align-items: center;
    align-content: center;
    margin-left: 5px;
    color: #191919;
}

.control-bottom i {
    display: flex;
    align-items: center;
    align-content: center;
    margin-left: 5px;
    margin-top: 9px;
    color: #191919;
}

.control-center i {
    display: flex;
    align-items: center;
    align-content: center;
    margin-left: 5px;
    margin-top: 5px;
    font-size: 10px;
    color: #191919;
}

/* LEFTSIDE-BOTTOM */

/* RIGHTSIDE-TOP */

.rightside-top {
    width: 300px;
    height: 55px;
    background-color: transparent;
    display: flex;
    border-left: 1px solid #89061C;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0 0 0;
}

.rightside-top-slice1 {
    display: flex;
    width: 150px;
    height: 55px;
    background-color: #DC0A2D;
    border-radius: 10px 30px 0 0;
    border-top: 1px solid #2B2B2B;
}

.top-slice1-border {
    display: flex;
    justify-content: center;
    border-top: 3px solid #89061C;
    border-left: 2px solid #89061C;
    margin-top: 3px;
    margin-left: -1px;
    border-radius: 10px 30px 0 0;
    width: 145px;
}

.rightside-top-slice2 {
    display: flex;
    width: 150px;
    height: 30px;
    background-color: #DC0A2D;
    border-radius: 0 50px 0 0;
    border-top: 1px solid #2B2B2B;
    margin-top: 35px;
    z-index: 99;
}

.top-slice2-border {
    display: flex;
    justify-content: center;
    border-right: 3px solid #89061C;
    border-top: 3px solid #89061C;
    margin-top: 3px;
    margin-left: -6.5px;
    border-radius: 0px 30px 0 0;
    width: 152px;
}


.rightside-top-mid {
    width: 300px;
    height: 85px;
    background-color: #DC0A2D;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-right: 1px solid #2B2B2B;
    border-left: 1px solid #89061C;
}

.rightside-top-mid-border {
    display: flex;
    justify-content: center;
    border-right: 3px solid #89061C;
    border-left: 1px solid #89061C;
    margin-left: -3px;
    height: 90px;
    width: 295px;
}

.rightside-screen {
    width: 250px;
    height: 70px;
    background-color: #2B2B2B;
    display: flex;
    margin-bottom: 10px;
    border-radius: 5%;
    border-bottom: 2px solid #000;
    z-index: 99;
}

.screen-box {
    display: flex;
}

.rightside-screen span {
    margin: auto;
}

/* RIGHTSIDE-TOP */

/* RIGHTSIDE-CENTER */

.rightside-center {
    width: 300px;
    height: 80px;
    background-color: #DC0A2D;
    display: flex;
    justify-content: center;
    border-right: 1px solid #2B2B2B;
    border-left: 1px solid #89061C;
}

.rightside-center-border {
    display: flex;
    justify-content: center;
    border-right: 3px solid #89061C;
    border-left: 1px solid #89061C;
    margin-left: -3px;
    width: 295px
}

.rightside-bluebutton {
    width: 250px;
    height: 80px;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
}

.btn-blue {
    display: flex;
    width: 50px;
    height: 40px;
    background-color: #28AAFD;
    border-bottom: 2px solid #1F82C3;
    border-left: 2px solid #1F82C3;
    border-right: 2px solid #1F82C3;
    justify-content: center;
    align-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-blue i {
    display: flex;
    text-align: center;
    color: #DDD;
    justify-content: center;
    transition: all 0.1s ease;
}

.btn-blue:hover {
    background-color: #66c0fc;
}

.btn-blue:hover i {
    color: #FFF;
}

.btn-blue:active {
    background-color: #66c0fc;
    box-shadow: 0px 0px 2px #ddd;
}

.btn-blue:active i {
    color: #1F82C3;
}

/* RIGHTSIDE-CENTER */

/* RIGHTSIDE-BOTTOM */

.rightside-bottom {
    width: 300px;
    height: 150px;
    background-color: #DC0A2D;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 10px 5px;
    border-bottom: 1px solid #2B2B2B;
    border-right: 1px solid #2B2B2B;
    border-left: 1px solid #89061C;
}

.rightside-bottom-border {
    display: flex;
    flex-direction: column;
    border-right: 3px solid #89061C;
    border-bottom: 3px solid #89061C;
    border-left: 1px solid #89061C;
    border-radius: 0 0 10px 5px;
    width: 295px;
    height: 144px;
}

.black-bars-right {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.black-bar-right {
    width: 40px;
    height: 8px;
    margin: 10px 0px;
    margin-right: 5px;
    background-color: #2B2B2B;
    border-bottom: 1px solid #000;
    border-radius: 20%;
}

.action-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
}

.action-right {
    display: flex;
    justify-content: flex-start;
}

.action-right {
    display: flex;
    justify-content: flex-end;
}

.backbtn {
    display: flex;
    width: 50px;
    height: 30px;
    background-color: #FFF;
    border-bottom: 2px solid #787878;
    border-left: 1px solid #787878;
    border-right: 1px solid #787878;
    border-radius: 10% 0 0 10%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.verify {
    display: flex;
    width: 50px;
    height: 30px;
    background-color: #FFF;
    border-bottom: 2px solid #787878;
    border-right: 1px solid #787878;
    border-left: 1px solid #787878;
    border-radius: 0 10% 10% 0;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.backbtn:hover {
    border-bottom: 2px solid #333;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    background-color: #DDD;
}

.verify:hover {
    border-bottom: 2px solid #333;
    border-right: 1px solid #333;
    border-left: 1px solid #333;
    background-color: #DDD;
}

.backbtn i,
.verify i {
    color: #555;
    transition: all 0.1s ease;
}

.backbtn:hover i,
.verify:hover i {
    color: #000;
}

.backbtn:active,
.verify:active {
    background-color: #C5D7DD;
}

.backbtn:active i {
    color: #FFD00B;
}

.verify:active i {
    color: #03A64A;
}

.yellowdot {
    width: 30px;
    height: 30px;
    background-color: #FFDF18;
    border-bottom: 1px solid #787878;
    border-radius: 50%;
    margin-top: 15px;
    animation: pulse-yellow-effect 5s ease-in-out forwards infinite;
}

.yellowdot-reflection {
    display: absolute;
    width: 10px;
    height: 10px;
    margin-top: 3px;
    margin-left: 5px;
    background-color: #FFF7C4;
    border-radius: 50%;
}

.element-controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.element-bars {
    width: 90px;
    height: 30px;
    margin: 10px 0px;
    margin-right: 5px;
    background: #2B2B2B;
    border-radius: 8%;
    border-bottom: 2px solid #000;
}
/* RIGHTSIDE-BOTTOM */
.pokedex-divisor-top {
    width: 40px;
    height: 40px;
    margin-top: 50px;
    background-color: #DC0A2D;
    display: flex;
    border: 3px solid #89061C;
    border-right: 7px solid #89061C;;
    border-radius: 5px;
}

.divisor-top-reflection1 {
    display: absolute;
    width: 5px;
    height: 34px;
    margin-top: 0.5px;
    margin-left: 5px;
    background-color: #DEB4BB;
    border-radius: 1px;
}

.divisor-top-reflection2 {
    display: absolute;
    width: 2px;
    height: 34px;
    margin-top: 0.5px;
    margin-left: 6px;
    background-color: #DD546B;
    border-radius: 1px;
}

.pokedex-divisor-center {
    width: 40px;
    height: 290px;
    background-color: #DC0A2D;
    display: flex;
    border: 3px solid #89061C;
    border-right: 7px solid #89061C;;
    border-bottom: none;
    border-top: 1px solid #89061C;
    border-radius: 5px;
}

.divisor-center-reflection1 {
    display: absolute;
    width: 5px;
    height: 289px;
    margin-top: 0.5px;
    margin-left: 5px;
    background-color: #DEB4BB;
    border-radius: 1px;
}

.divisor-center-reflection2 {
    display: absolute;
    width: 2px;
    height: 289px;
    margin-top: 0.5px;
    margin-left: 6px;
    background-color: #DD546B;
    border-radius: 1px;
}

.pokedex-divisor-bottom {
    width: 40px;
    height: 40px;
    background-color: #DC0A2D;
    display: flex;
    border: 3px solid #89061C;
    border-right: 7px solid #89061C;;
    border-radius: 5px;
}

.divisor-bottom-reflection1 {
    display: absolute;
    width: 5px;
    height: 34px;
    margin-top: 0.5px;
    margin-left: 5px;
    background-color: #DEB4BB;
    border-radius: 1px;
}

.divisor-bottom-reflection2 {
    display: absolute;
    width: 2px;
    height: 34px;
    margin-top: 0.5px;
    margin-left: 6px;
    background-color: #DD546B;
    border-radius: 1px;
}

.pokedex-rightside {
    width: 300px;
    height: 450px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

@media (max-width: 768px) {
    .screen {
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        height: 750px;
        width: 700px;
    }
}